/* Общие стили для страниц теста */
body {
    background-color: #f5cc9b; /* Установка фонового цвета для всех страниц */
    font-family: Arial, sans-serif; /* Базовый шрифт */
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем отступы */
    line-height: 1.6; /* Высота строки для лучшей читаемости */
}

/* Стили для контейнера теста */
.container {
    padding: 20px;
}

/* Стили для заголовка */
h1 {
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для формы */
form {
    padding: 20px;
    border-radius: 0; /* Убираем скругленные углы формы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Легкая тень для объема */
    background-color: #F5DEB3; /* Светлый фон для секций с контентом */
    max-width: 100%; /* Ширина формы по размеру родителя */
    width: 100%; /* Ширина формы */
    box-sizing: border-box; /* Учитываем паддинг в ширину формы */
    background-color: transparent; /* Прозрачный фон для формы */
    margin: 0; /* Убираем автоматическое центрирование формы */
}

/* Стили для вопросов */
.question {
    margin-bottom: 20px; /* Отступы между вопросами */
}

.question label {
    font-weight: bold; /* Полужирный шрифт для заголовка вопроса */
    display: block;
    margin-bottom: 10px; /* Отступ снизу */
}

.question p {
    margin-top: 0; /* Убираем отступ сверху для вопроса */
    margin-bottom: 10px; /* Отступ снизу для вопроса */
}

/* Стили для вариантов ответа с радиокнопками */
.question div {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    margin-bottom: 10px; /* Отступы между вариантами ответа */
}

.question input[type="radio"] {
    margin-right: 10px; /* Отступ справа от радиокнопок */
}

.question input[type="text"] {
    width: 100%; /* Ширина инпутов */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Скругленные углы инпутов */
    box-sizing: border-box; /* Учитываем паддинг в ширину инпутов */
}

/* Стили для кнопки */
button {
    padding: 10px 20px;
    background-color: #9a835d; /* Цвет кнопок */
    color: white;
    border: none;
    border-radius: 4px; /* Скругленные углы кнопок */
    cursor: pointer;
    font-size: 16px; /* Размер шрифта кнопки */
    margin-top: 20px; /* Отступ сверху */
}

button:hover {
    background-color: #846b4f; /* Более темный цвет при наведении */
}
